* {
    border: 1px solid red;
}



body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;



}

.example {
    background-image: url(../images/roads-logo.svg);
    width: 10vh;
    height: 10vh;
    background-size: cover;
    border-radius: 0.8vh;
    border: 0.2vh solid grey;
}

h1 {
    
    text-align: center;
    font-size: 8vh;
    margin-bottom: 5vh;

}
h2{
    margin: 0;
}

.outsideContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}

.buttoms {
    display: flex;
    flex-direction: row;    
    margin: 5vh;
    font-size: 5vh;
    align-items: center;
    
}



#reset,
#shuffle {
    margin: 2vh;
    
    background-color: grey;
    border-radius: 2vh;
    border: 0.5vh solid grey;
    color: whitesmoke;
    padding: .5vh 1.5vh;
    cursor: pointer;
    text-align: center;
    
}

.puzzleContainer {
    
    display: grid;
    gap: 0.2vh;
    grid-template: repeat(4,1fr) / repeat(4,1fr)  ;
    width: 40vh;
    height: 40vh;
    margin: 0;
    background-color: grey;
    border-radius: 0.8vh;
    border: 0.2vh solid grey;
    
    
}



.puzzleContainer img {
    border-radius: 0.8vh;
    
    cursor: pointer;
    height: 10vh;   
    object-fit: contain;
}

#tile1 {
    background-image: url(../images/roads-logo.svg);
    border-radius: 0.8vh;
    background-size: 40vh 40vh;
    cursor: pointer;
    /*overflow: hidden;*/
    background-position: left -10vh top 0vh;
    background-repeat: no-repeat;
    width:10vh;
    height:10vh;
    z-index: 5;
}

#tile2 {
    background-image: url(../images/roads-logo.svg);
    border-radius: 0.8vh;
    background-size: 40vh 40vh;
    cursor: pointer;
    /*overflow: hidden;*/
    background-position: left -20vh top 0vh;
    background-repeat: no-repeat;
    width:10vh;
    height:10vh;
    z-index: 5;
}

#tile3 {
    background-image: url(../images/roads-logo.svg);
    border-radius: 0.8vh;
    background-size: 40vh 40vh;
    cursor: pointer;
    /*overflow: hidden;*/
    background-position: left -30vh top 0vh;
    background-repeat: no-repeat;
    width:10vh;
    height:10vh;
    z-index: 5;
}